/* Theme 스타일 작성 */

/* /stylesheets/common/theme.css 파일에 
피그마 시안에 등록된 color 시스템을 참고하여 변수로 선언
(예 --color-blue-600 : #0074E9 ; )하여 사용해주세요. */

:root {
  /* Color */
  --color-black: #181818;
  --color-white: #ffffff;

  --color-red-100: #fad3d6;
  --color-red-200: #f5a7ac;
  --color-red-300: #ef7b83;
  --color-red-400: #ea4f59;
  --color-red-500: #e52330;
  --color-red-600: #b71c26;
  --color-red-700: #89151d;
  --color-red-800: #5c0e13;
  --color-red-900: #2e070a;

  --color-blue-100: #cceafa;
  --color-blue-200: #65cde3;
  --color-blue-300: #61bfe6;
  --color-blue-400: #33abe9;
  --color-blue-500: #0096e4;
  --color-blue-600: #0074e9;
  --color-blue-700: #005a89;
  --color-blue-800: #003c5b;
  --color-blue-900: #001e2e;

  --color-green-100: #f4f5d2;
  --color-green-200: #e9eba5;
  --color-green-300: #dde177;
  --color-green-400: #d2d74a;
  --color-green-500: #c7cd1d;
  --color-green-600: #9fa417;
  --color-green-700: #00b599;
  --color-green-800: #50520c;
  --color-green-900: #282906;

  --color-gray-100: #f3f3f3;
  --color-gray-200: #e7e7e7;
  --color-gray-300: #dcdcdc;
  --color-gray-400: #d0d0d0;
  --color-gray-500: #c4c4c4;
  --color-gray-600: #aaa9a9;
  --color-gray-700: #767676;
  --color-gray-800: #4e4e4e;
  --color-gray-900: #272727;
}
